<div id="login-container">
  <img src="../../../assets/imagens/Logo.svg" alt="Logo medicar" id="logo">
  <form>
    <div id="imputs">
      <input type="text" placeholder="email ou login">
      <button type="button"><img src="../../../assets/imagens/olho.svg" alt="mostra senha" id="olho"></button>
      <input type="password" id="senha" placeholder="senha">
    </div>
    <div id="checkbox">
      <input type="checkbox">
      Lembrar minha senha
    </div>
    <div id="butoes">
      <a href="/registro">Criar conta</a>
      <button type='button'(click)="logar()">Acessar</button>
    </div>
  </form>
</div>
